.check {
  @include list-reducer();
}

.check__item {
  margin-top: 33px;
  width: 200px;
}

.check__label {
  @include title(17px, 1.06);

  margin-top: 45px;
  text-transform: none;

  cursor: pointer;
}

.check__box {
  position: relative;

  display: inline-block;
  vertical-align: middle;
  margin-top: -12px;
  margin-right: 20px;
  width: 40px;
  height: 40px;

  border: 2px solid $brown;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    display: none;
    margin-left: -10px;
    margin-top: -6px;
    width: 20px;
    height: 10px;

    border-left: 2px solid black;
    border-bottom: 2px solid black;

    transform: rotate(-45deg);
  }

  &:hover {
    border-color: $green;
  }

  &:active {
    border-color: rgba($color: $brown, $alpha: 0.3);
  }
}

.check__input:checked + .check__box::before {
  display: block;
}

@media (min-width: $tablet-width) {
  .check {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .check__box {
    width: 52px;
    height: 52px;
    margin-top: -7px;
    margin-right: 20px;

    &::before {
      margin-left: -15px;
      margin-top: -12px;
      width: 28px;
      height: 16px;
    }
  }

  .check__label {
    @include title(19px, 0.95);
    padding-bottom: 10px;
  }
}
