.contacts__title {
  @include title(18px, 1.67);
}

.contacts__wrapper {
  padding: 35px 30px;
}

.contacts__map {
  display: block;
}

.contacts__button {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 40px;
}
