.main__wrapper {
  &--intro {
    background-color: $lightgray;
  }

  &--title {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 75px 0;
    background-color: $gray;
  }

  &--catalog {
    @include wrapper(320px, 30px);
    margin: 0 auto;
    padding-bottom: 60px;

    outline: 2px solid red;
  }

  &--text {
    @include wrapper(auto, 30px);
  }
}

.main__container {
  @include wrapper(320px, 0);
  margin: 0 auto;

  outline: 2px solid blue;

  &--intro {
    display: flex;
    flex-direction: column;
    padding-top: 76px;

    background: url("../img/hero-mobile@1x.jpg") no-repeat;
    background-size: auto;
    background-position: 50% -15px;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-mobile@2x.jpg");
      background-size: 575px auto;
    }
  }
}

.main__title {
  @include title(27px, 1.1);
  margin: 0 auto;
  text-align: center;

  &--index {
    margin-bottom: 120px;
    width: 250px;
  }
}

@media (min-width: $tablet-width) {
  .main__wrapper {
    &--catalog {
      @include wrapper($tablet-width, 50px);
      margin-top: 80px;
      padding-bottom: 60px;
    }

    &--form {
      margin-top: 74px;
      margin-bottom: 50px;
      padding: 0;
    }

    &--title {
      padding-top: 100px;
      padding-bottom: 75px;
    }
  }

  .main__container {
    &--intro {
      @include wrapper($tablet-width, 50px);
      padding-top: 120px;

      background-image: url("../img/hero-tablet@1x.jpg");
      background-position: 50% -40px;

      @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
        background-image: url("../img/hero-tablet@2x.jpg");
        background-size: 1150px auto;
      }
    }
  }

  .main__title {
    @include title(43px, 1.16);

    &--index {
      margin: 0 auto;
      padding-bottom: 370px;
      width: 500px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main__wrapper {
    &--catalog {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding-bottom: 105px;
      width: $desktop-width;
    }

    &--title {
      padding: 100px 0 95px 0;
    }
  }

  .main__container {
    &--intro {
      @include wrapper($desktop-width, 50px);
      padding-top: 160px;

      background-position: 50% -5px;
      background-size: cover;
    }
  }

  .main__title {
    @include title(53px, 1.08);
    margin: 0 auto;

    &--index {
      margin-bottom: 350px;
      width: 620px;
    }
  }
}
