.navigation__wrapper {
  @include wrapper(320px, 30px);
  margin: 0 auto;

  outline: 2px solid red;
}

.navigation__list {
  @include list-reducer;

  position: relative;
  display: flex;
  flex-direction: column;
}

.navigation__item {
  @include title(17px, 1.41);
  padding: 30px 0;
  text-align: center;

  box-shadow: 0px 1px 0 0 $border-color,
    inset 0px 1px 0 0 $border-color;
}

.navigation__item--toggle {
  position: absolute;
  display: none;
}

// .navigation__item:not(.navigation__logo) {
//   display: none;
// }

.navigation__link {
  color: #000000;
}

@media (min-width: $tablet-width) {
  .navigation__wrapper {
    @include wrapper($tablet-width, 50px);
  }

  .navigation__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .navigation__wrapper {
    width: $desktop-width;
  }
}
