.opinion__text {
  margin: 0;
  margin-top: 20px;

  line-height: 2;
  color: $brown;
}

.opinion__name {
  @include title(17px, 1.41);

  margin-top: 30px;
  width: 255px;
}

.opinion__link {
  font-size: 17px;
  font-weight: normal;
  line-height: 1.76;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .opinion {
    margin-top: 45px;
  }

  .opinion__text {
    margin: 0;

    font-size: 17px;
    font-weight: normal;
    line-height: 1.76;
    text-align: left;
  }

  .opinion__name {
    @include title(18px, 1.33);

    margin-top: 60px;
  }
}

@media (min-width: $desktop-width) {
  .opinion__name {
    @include title(18px, 1.33);

    margin-top: 40px;
  }
}
