.social {
  @include list-reducer;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;

  margin: 0;
  padding: 25px 0;

  border-bottom: 1px solid $border-color;
}

.social__item {
  margin: 0 20px;
}

.social__link {
  &:hover .footer__icon {
    fill: $deepgreen;
  }

  &:active .footer__icon {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social {
    border: none;
  }
}
