.week-product {
  margin-top: 30px;
  padding-bottom: 36px;
}

.week-product__wrapper {
  @include wrapper(320px, 30px);
  margin: 0 auto;
}

.week-product__info {
  margin: 0;
  margin-top: 30px;
}

.week-product__title {
  @include title(25px, 1.2);
}

.week-product__label {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.18;
  color: $green;
  text-transform: uppercase;
}

.week-product__price {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.41;
}

.week-product__picture {
  margin: 0;
  padding: 0;
  height: 315px;

  background-color: $gray;
}

.week-product__link {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .week-product {
    margin-top: 50px;
    padding-bottom: 50px;
  }

  .week-product__wrapper {
    @include wrapper($tablet-width, 50px);
  }

  .week-product__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .week-product__title {
    @include title(43px, 1.16);
  }

  .week-product__label {
    @include title(17px, 1, $green);

    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    width: 70px;

    text-align: center;
  }

  .week-product__info {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    width: 50%;
    min-height: 404px;

    outline: 2px solid blue;
  }

  .week-product__picture {
    position: absolute;
    top: 0;
    right: -333px;
    z-index: -1;

    width: 333px;
    height: 404px;
  }
}

@media (min-width: $desktop-width) {
  .week-product__wrapper {
    position: relative;

    margin-top: 70px;
    padding-bottom: 70px;
    width: $desktop-width;
  }

  .week-product__container {
    position: absolute;
    top: 0;
    left: 50px;
  }

  .week-product__title {
    @include title(53px, 1.08);
    order: 2;
  }

  .week-product__info {
    padding-top: 166px;
    padding-left: 175px;
    min-height: 636px;
  }

  .week-product__picture {
    right: -525px;

    width: 525px;
    min-height: 636px;
  }
}
