@mixin list-reducer {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin title($size, $height, $color: #000000) {
  margin: 0;
  padding: 0;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: $size;
  font-weight: bold;
  font-style: normal;
  line-height: $height;
  letter-spacing: normal;
  color: $color;
}

@mixin button-transparent {
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.18;
  text-align: center;
  text-transform: uppercase;
  color: $brown;

  border: solid 2px $brown;
  background-color: transparent;
  cursor: pointer;
}

@mixin button-green {
  line-height: 0.94;
  color: #ffffff;

  border: none;
  background-color: $green;
  cursor: pointer;
}

@mixin wrapper($width, $padding) {
  width: $width;
  padding: 0 $padding;
}
