$green: #63d1bb;
$darkgreen: #56c3b2;
$deepgreen: #46c1ae;
$gray: #f1f1f1;
$lightgray: #f9f9f9;
$border-color: #ececec;
$tablet-width: 768px;
$desktop-width: 1150px;
$only-mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$brown: #444444;
